.navbar {
  background-color: rgb(210, 222, 241);
  grid-area: navbar;
  display: grid;
  grid-template-areas: "name logo settings";
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 3vw;
  /* align-content: center; */
  align-items: center;
}

.name {
  grid-area: name;
  color: #7500fc;
  font-weight: 650;
  margin: 0 1vw;
  padding: 0 1vw;
}

.logo {
  grid-area: logo;
  justify-self: center;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 3rem;
  color: var(--logo-color);
}

.logo:hover {
  --logo-left-wing-skew: 10deg;
  --logo-right-wing-skew: -10deg;
  --logo-wings-scale: 1.5;
  --animation: flappingLeft;
}

.settings {
  grid-area: settings;
  justify-self: end;
}

.leftWing {
  display: inline-block;
  animation: var(--animation) 0.5s infinite;
  -webkit-animation: var(--animation) 0.5s infinite;
  -moz-animation: var(--animation) 0.5s infinite;
  -o-animation: var(--animation) 0.5s infinite;
}

.rightWing {
  display: inline-block;
  animation: var(--animation) 0.5s infinite;
  -webkit-animation: var(--animation) 0.5s infinite;
  -moz-animation: var(--animation) 0.5s infinite;
  -o-animation: var(--animation) 0.5s infinite;
}

@-webkit-keyframes flappingLeft {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}
@-moz-keyframes flappingLeft {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}
@-o-keyframes flappingLeft {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}
@keyframes flappingLeft {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}
