:root {
  --animation-l: none;
}

.navbar {
  background-color: rgb(210, 222, 241);
  grid-area: navbar;
  display: grid;
  grid-template-areas: "name logo settings";
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 3vw;
  /* align-content: center; */
  align-items: center;
}

.name {
  grid-area: name;
  color: #7500fc;
  font-weight: 650;
  margin: 0 1vw;
  padding: 0 1vw;
}

.logo {
  grid-area: logo;
  justify-self: center;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 3rem;
  color: var(--logo-color);
}

.logo:hover {
  --logo-left-wing-skew: 10deg;
  --logo-right-wing-skew: -10deg;
  --logo-wings-scale: 1.5;
  --animation-l: flappingLeft;
}

.settings {
  grid-area: settings;
  justify-self: end;
}

.moth {
  display: inline-block;
}

.leftWingFlap {
  animation: flappingLeft var(--logo-animation-dur) infinite linear;
  -webkit-animation: flappingLeft var(--logo-animation-dur) infinite linear;
  -moz-animation: flappingLeft var(--logo-animation-dur) infinite linear;
  -o-animation: flappingLeft var(--logo-animation-dur) infinite linear;
}

.rightWingFlap {
  animation: flappingRight var(--logo-animation-dur) infinite linear;
  -webkit-animation: flappingRight var(--logo-animation-dur) infinite linear;
  -moz-animation: flappingRight var(--logo-animation-dur) infinite linear;
  -o-animation: flappingRight var(--logo-animation-dur) infinite linear;
}

.mothBody {
  animation: mothBody var(--logo-animation-dur) infinite linear;
  -webkit-animation: mothBody var(--logo-animation-dur) infinite linear;
  -moz-animation: mothBody var(--logo-animation-dur) infinite linear;
  -o-animation: mothBody var(--logo-animation-dur) infinite linear;
}

@keyframes flappingLeft {
  0%,
  100% {
    transform: skew(0deg) scale(1);
  }
  25% {
    transform: skew(-2.5deg) scale(1.25);
  }

  50% {
    transform: skew(0deg) scale(1.5);
  }
  75% {
    transform: skew(2.5deg) scale(1.25);
  }
}

@keyframes flappingRight {
  0%,
  100% {
    transform: skew(0deg) scale(1);
  }
  25% {
    transform: skew(2.5deg) scale(1.25);
  }

  50% {
    transform: skew(0deg) scale(1.5);
  }
  75% {
    transform: skew(-2.5deg) scale(1.25);
  }
}

@keyframes mothBody {
  0%,
  100% {
    transform: scalex(1.5) scaley(1.1);
  }

  50% {
    transform: scalex(1) scaley(1);
  }
}
