<html>
  <h1>
    ADD BUG
  </h1>
  <form action="/bug" method="POST">
    <input placeholder="bug id" name="bug_id" type="text" value='2'>
    <input placeholder="text" name="text" type="text" value='2'>
    <input placeholder="assigned_to" name="assigned_to" type="text" value='2'>
    <input placeholder="creator" name="creator" type="creator" value='2'>
    <input placeholder="name" name="name" type="text" value='2'>
    <input placeholder="description" name="description" type="text" value='2'>
    <input placeholder="priority" name="priority" type="text" value='2'>
    <input placeholder="status" name="status" type="text" value='2'>
    <input type="submit" value="Submit">
  </form>
</html>