/*
CSS Constants file that will let us easily configure the look and feel of our site in one location.
Also encourages us to standardize properties so we don't have to individually tweak font-sizes/etc. until something 'looks right'.
    
    Example use cases
    1. Think there's too much white space around our components? Lower the --blank-space-margins property.
    2. Dont like the color themes were using? Adjust one of the text-color variables.

*/


:root {
    --blank-space-color: #282c34;
    --blank-space-margins: 5%;

    --title-font-size: 1.3em;
    --title-font-color: white;

    --primary-font-size: 1em;
    --primary-font-color: #1e2127de;

    --placeholder-font-size: 1em;
    --placeholder-font-color: #1e2127ab;

    --link-font-size: .8em;
    --link-font-color: #1189de;

    /* Buttons and Input forms */
    --interaction-border: solid 2px #1189de;
    --interaction-border-radius: 4px;
    --interaction-background: white;

    /* Bug Severity Color Codes */
    --blocker-color-code: #b71c1c;
    --critical-color-code: #e53935;
    --high-color-code: #fb8c00;
    --normal-color-code: #fdd835;
    --enhancement-color-code: #8bc34a;
  }
