.userDashboard {
  width: calc(100% - var(--blank-space-margins));
  height: calc(100% - var(--blank-space-margins));
  background-color: var(--blank-space-color);
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 10% auto;
  grid-template-areas:  "navbar navbar "
                        "buglist bugviews";
  gap: var(--blank-space-margins);
}

.navbar,
.buglist,
.bugviews {
    text-align: center;
    color: var(--primary-font-color);
    font-size: var(--primary-font-size);
}

.navbar {
  background-color: lightblue;
  grid-area: navbar;
}

.buglist {
  background-color: lightgreen;
  grid-area: buglist;
}

.bugviews {
  background-color: lightsalmon;
  grid-area: bugviews;
}